<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/vendors/bootstrap/css/bootstrap.min.css">
    <style>
        .aaa {
            border: 1px solid #cccccc;
        }
    </style>
</head>

<body>
    <nav id="navbar-example" class="navbar navbar-default navbar-static">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".bs-example-js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./index.html">天蓝</a>
                <div class="sousuo2 visible-xs">
                    <div class="input-group input-group-md">
                        <input type="text" class="form-control sousuo-ipt" placeholder="Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
                <ul class="nav navbar-nav dropdown-fat">

                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="sousuo hidden-xs col-md-3">
                <div class="input-group input-group-md">
                    <input type="text" class="form-control sousuo-ipt" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
            <!-- 面包屑 -->
            <ul class="breadcrumb col-md-12">
                <li><a href="./index.html">首页-----产品展示</a></li>
                <li class="active">曲轴</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <!-- <div class="conter"> -->
        <div class="row">
            <div class="col-md-3 hidden-xs hidden-sm">
                <div class="row">
                    <div class="col-md-12  category">
                        <a href="#" class="list-group-item active">
                            免费域名注册
                        </a>
                        <a href="#" class="list-group-item">24*7 支持</a>
                        <a href="#" class="list-group-item">免费 Window 空间托管</a>
                        <a href="#" class="list-group-item">图像的数量</a>
                        <a href="#" class="list-group-item">每年更新成本</a>
                    </div>
                    <div class="col-md-12" style="margin-top: 30px;">
                        <div class="list-group">
                            <a href="#" class="list-group-item active" style="border: 0">
                                入门网站包
                            </a>
                            <a href="javascript:" class="list-group-item" style="border: 0;padding:0;">
                                <div class="thumbnail">
                                    <img src="../uploads/mao.jpg" alt="通用的占位符缩略图">
                                    <div class="caption">
                                        <h3>缩略图标签</h3>
                                        <p>Forged pistons for the Vauxhall Opel C20XE 2.0ltr 16v engine, 86.5mm Pistons
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:" class="list-group-item" style="border: 0;padding: 0;">
                                <div class="thumbnail">
                                    <img src="../uploads/mao.jpg" alt="通用的占位符缩略图">
                                    <div class="caption">
                                        <h3>缩略图标签</h3>
                                        <p>Forged pistons for the Vauxhall Opel C20XE 2.0ltr 16v engine, 86.5mm Pistons
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:" class="list-group-item" style="border: 0;padding: 0;">
                                <div class="thumbnail">
                                    <img src="../uploads/mao.jpg" alt="通用的占位符缩略图">
                                    <div class="caption">
                                        <h3>缩略图标签</h3>
                                        <p>Forged pistons for the Vauxhall Opel C20XE 2.0ltr 16v engine, 86.5mm Pistons
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:" class="list-group-item" style="border: 0;padding: 0;">
                                <div class="thumbnail">
                                    <img src="../uploads/mao.jpg" alt="通用的占位符缩略图">
                                    <div class="caption">
                                        <h3>缩略图标签</h3>
                                        <p>Forged pistons for the Vauxhall Opel C20XE 2.0ltr 16v engine, 86.5mm Pistons
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:" class="list-group-item" style="border: 0;padding: 0;">
                                <div class="thumbnail">
                                    <img src="../uploads/mao.jpg" alt="通用的占位符缩略图">
                                    <div class="caption">
                                        <h3>缩略图标签</h3>
                                        <p>Forged pistons for the Vauxhall Opel C20XE 2.0ltr 16v engine, 86.5mm Pistons
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:" class="list-group-item" style="border: 0;padding: 0;">
                                <div class="thumbnail">
                                    <img src="../uploads/mao.jpg" alt="通用的占位符缩略图">
                                    <div class="caption">
                                        <h3>缩略图标签</h3>
                                        <p>Forged pistons for the Vauxhall Opel C20XE 2.0ltr 16v engine, 86.5mm Pistons
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:" class="list-group-item" style="border: 0;padding: 0;">
                                <div class="thumbnail">
                                    <img src="../uploads/mao.jpg" alt="通用的占位符缩略图">
                                    <div class="caption">
                                        <h3>缩略图标签</h3>
                                        <p>Forged pistons for the Vauxhall Opel C20XE 2.0ltr 16v engine, 86.5mm Pistons
                                        </p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">面板标题</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row propuct">
                            <div class="media col-md-12" style="border-bottom: 1px solid #cccccc">
                                <div class="media-left media-middle" style="width: 35%;">
                                    <img src="./assets/image/img/010aj.jpg" class="media-object" style="width: 100%;">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">比赛连杆（6） - TOYOTA 1GR-FE</a></h4>
                                    <p>品牌：Hurricane * </p>
                                    <p>发动机：丰田1GR-FE</p>
                                    <p>零件类型：连杆</p>
                                    <p>中心长度：160mm </p>
                                    <p>/ 6.299“大端孔直径：58.98mm / 2.322” </p>
                                    <p>大端宽度：20.83mm / 0.820“ </p>
                                    <p>小端孔直径：20mm / 0.866“ </p>
                                    <p>小端宽度：20.83mm /0.820” </p>
                                    <p>光束类型：H型光束更多</p>
                                </div>
                            </div>
                            <div class="media col-md-12" style="border-bottom: 1px solid #cccccc">
                                <div class="media-left media-middle" style="width: 35%;">
                                    <img src="./assets/image/img/010aj.jpg" class="media-object" style="width: 100%;">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">比赛连杆（6） - TOYOTA 1GR-FE</a></h4>
                                    <p>品牌：Hurricane * </p>
                                    <p>发动机：丰田1GR-FE</p>
                                    <p>零件类型：连杆</p>
                                    <p>中心长度：160mm </p>
                                    <p>/ 6.299“大端孔直径：58.98mm / 2.322” </p>
                                    <p>大端宽度：20.83mm / 0.820“ </p>
                                    <p>小端孔直径：20mm / 0.866“ </p>
                                    <p>小端宽度：20.83mm /0.820” </p>
                                    <p>光束类型：H型光束更多</p>
                                </div>
                            </div>
                            <div class="media col-md-12" style="border-bottom: 1px solid #cccccc">
                                <div class="media-left media-middle" style="width: 35%;">
                                    <img src="./assets/image/img/010aj.jpg" class="media-object" style="width: 100%;">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">比赛连杆（6） - TOYOTA 1GR-FE</a></h4>
                                    <p>品牌：Hurricane * </p>
                                    <p>发动机：丰田1GR-FE</p>
                                    <p>零件类型：连杆</p>
                                    <p>中心长度：160mm </p>
                                    <p>/ 6.299“大端孔直径：58.98mm / 2.322” </p>
                                    <p>大端宽度：20.83mm / 0.820“ </p>
                                    <p>小端孔直径：20mm / 0.866“ </p>
                                    <p>小端宽度：20.83mm /0.820” </p>
                                    <p>光束类型：H型光束更多</p>
                                </div>
                            </div>
                            <div class="media col-md-12" style="border-bottom: 1px solid #cccccc">
                                <div class="media-left media-middle" style="width: 35%;">
                                    <img src="./assets/image/img/010aj.jpg" class="media-object" style="width: 100%;">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">比赛连杆（6） - TOYOTA 1GR-FE</a></h4>
                                    <p>品牌：Hurricane * </p>
                                    <p>发动机：丰田1GR-FE</p>
                                    <p>零件类型：连杆</p>
                                    <p>中心长度：160mm </p>
                                    <p>/ 6.299“大端孔直径：58.98mm / 2.322” </p>
                                    <p>大端宽度：20.83mm / 0.820“ </p>
                                    <p>小端孔直径：20mm / 0.866“ </p>
                                    <p>小端宽度：20.83mm /0.820” </p>
                                    <p>光束类型：H型光束更多</p>
                                </div>
                            </div>
                            <div class="media col-md-12" style="border-bottom: 1px solid #cccccc">
                                <div class="media-left media-middle" style="width: 35%;">
                                    <img src="./assets/image/img/010aj.jpg" class="media-object" style="width: 100%;">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">比赛连杆（6） - TOYOTA 1GR-FE</a></h4>
                                    <p>品牌：Hurricane * </p>
                                    <p>发动机：丰田1GR-FE</p>
                                    <p>零件类型：连杆</p>
                                    <p>中心长度：160mm </p>
                                    <p>/ 6.299“大端孔直径：58.98mm / 2.322” </p>
                                    <p>大端宽度：20.83mm / 0.820“ </p>
                                    <p>小端孔直径：20mm / 0.866“ </p>
                                    <p>小端宽度：20.83mm /0.820” </p>
                                    <p>光束类型：H型光束更多</p>
                                </div>
                            </div>
                            <div class="media col-md-12" style="border-bottom: 1px solid #cccccc">
                                <div class="media-left media-middle" style="width: 35%;">
                                    <img src="./assets/image/img/010aj.jpg" class="media-object" style="width: 100%;">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">比赛连杆（6） - TOYOTA 1GR-FE</a></h4>
                                    <p>品牌：Hurricane * </p>
                                    <p>发动机：丰田1GR-FE</p>
                                    <p>零件类型：连杆</p>
                                    <p>中心长度：160mm </p>
                                    <p>/ 6.299“大端孔直径：58.98mm / 2.322” </p>
                                    <p>大端宽度：20.83mm / 0.820“ </p>
                                    <p>小端孔直径：20mm / 0.866“ </p>
                                    <p>小端宽度：20.83mm /0.820” </p>
                                    <p>光束类型：H型光束更多</p>
                                </div>
                            </div>
                        </div>
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row hidden-xs hidden-sm hidden-md">
                <div class="col-md-4">
                    <!-- <h4>关于我们</h4>
                    <ul>
                        <li><a href="#">公司简介</a></li>
                        <li><a href="#">质量反馈</a></li>
                        <li><a href="#">企业文化</a></li>
                    </ul> -->
                    <dl>
                        <dt>
                            <h4>关于我们</h4>
                        </dt>
                        <dd><a href="#">公司简介</a></dd>
                        <dd><a href="#">质量反馈</a></dd>
                        <dd><a href="#">企业文化</a></dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>
                            <h4>关于我们</h4>
                        </dt>
                        <dd><a href="#">公司简介</a></dd>
                        <dd><a href="#">质量反馈</a></dd>
                        <dd><a href="#">企业文化</a></dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt>
                            <h4>关于我们</h4>
                        </dt>
                        <dd><a href="#">公司简介</a></dd>
                        <dd><a href="#">质量反馈</a></dd>
                        <dd><a href="#">企业文化</a></dd>
                    </dl>
                </div>
            </div>
            <div class="visible-xs visible-sm visible-md footer-small">
                <p>Copyright © 深圳市天蓝网络科技有限公司 All Rights Reserved. 版权所有 粤ICP备18142694号-1</p>
            </div>
        </div>
    </footer>
</body>
<script src="./assets/vendors/jquery/jquery.js"></script>
<script src="./assets/vendors/template-web.js"></script>
<script src="./assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script type="text/html" id="nav">
    {{each list value}}
    <li class="{{if value.name=='曲轴'}} active {{else}} dropdown  {{/if}}">
        <a href="{{value.link}}">
            {{value.name}}
        </a>
    </li>
    {{/each}}
</script>
<script type="text/html" id="category">
    <a href="#" class="list-group-item active">
        免费域名注册
    </a>
    {{each list value}}
    <a href="#" class="list-group-item">
        {{value.name}}
    </a>
    {{/each}}
</script>
<script type="text/html" id="product_bent">
    {{each list value}}
    <div class="media col-md-12" style="border-bottom: 1px solid #cccccc">
        <div class="media-left media-middle" style="width: 35%;">
            <img src="./assets/image/img/010aj.jpg" class="media-object" style="width: 100%;">
        </div>
        <div class=" media-body">
            <h4 class="media-heading"><a href="product_bentDetails.html?id={{value.Id}}">{{value.title}}</a>
            </h4>
            {{if value.brand!=''}}
            <p>品牌：{{value.brand}}</p>
            {{/if}}
            {{if value.engine!=''}}
            <p>发动机：{{value.engine}}</p>
            {{/if}}
            {{if value.part!=''}}
            <p>零件类型：{{value.part}}</p>
            {{/if}}
            {{if value.centerLength!=''}}
            <p>中心长度：{{value.centerLength}}</p>
            {{/if}}
            {{if value.aperture!=''}}
            <p>大端孔直径：{{value.aperture}}</p>
            {{/if}}
            {{if value.bigBodywide!=''}}
            <p>大端宽度：{{value.bigBodywide}}</p>
            {{/if}}
            {{if value.smallEnddiameter!=''}}
            <p>小端孔直径：{{value.smallEnddiameter}}</p>
            {{/if}}
            {{if value.smallEndwide!=''}}
            <p>小端宽度：{{value.smallEndwide}}</p>
            {{/if}}
            {{if value.light!=''}}
            <p>光束类型：{{value.light}}</p>
            {{/if}}
        </div>
    </div>

    {{/each}}
</script>
<script>
    $(function () {
        $.get({
            url: 'http://localhost:80/frontApi/nav.php',
            dataType: 'json',
            success: function (obj) {
                // console.log(obj);
                const html = template('nav', {
                    list: obj
                })
                // console.log(html);
                $('.navbar-nav').html(html);
            }
        })
        $.get({
            url: 'http://localhost:80/frontApi/catrgory.php',
            dataType: 'json',
            success: function (obj) {
                // console.log(obj);
                const html = template('category', {
                    list: obj
                })
                $('.category').html(html);
            }
        })
        const page = 1;
        $.get({
            url: "http://localhost:80/frontApi/product_bent.php",
            data: {
                pageIndex: page,
                pageSize: 15
            },
            dataType: "json",
            success: function (obj) {
                for (var i = 0; i <= obj.data.length - 1; i++) {
                    if (obj.data[i].feature1 != "/uploads/") {
                        obj.data[i].masterMap = obj.data[i].feature1
                    } else if (obj.data[i].feature2 != "/uploads/") {
                        obj.data[i].masterMap = obj.data[i].feature2
                    } else if (obj.data[i].feature3 != "/uploads/") {
                        obj.data[i].masterMap = obj.data[i].feature3
                    } else if (obj.data[i].feature4 != "/uploads/") {
                        obj.data[i].masterMap = obj.data[i].feature4
                    }
                }
                var html = template('product_bent', {
                    list: obj.data
                });
                $('.propuct').html(html);
            }
        })
    })
</script>

</html>