<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>介绍页面</title>
  <link rel="stylesheet" href="./assets/vendors/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="./assets/css/base.css">
  <link rel="stylesheet" href="./assets/vendors/swiper/css/swiper.min.css" />
  <link rel="stylesheet" href="./assets/vendors/font-awesome-4.7.0/css/font-awesome.css" />
  <!-- <link rel="stylesheet" href="./assets/css/admin.css" /> -->
  <link rel="stylesheet" href="./assets/css/admin111.css">

  <script src="./assets/vendors/rem.js"></script>
</head>

<body>
  <div id="basement">
    <header>
      
    </header>
    <!-- 下拉菜单 -->
    <nav id="navbar-example" class="navbar navbar-default navbar-static">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
            data-target=".bs-example-js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <a class="navbar-brand" href="./index.html"><i class="fa fa-home"></i></a>
          <div class="sousuo2 visible-xs">
            <div class="input-group input-group-md">
              <input type="text" class="form-control sousuo-ipt" placeholder="Search" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
          <ul class="nav navbar-nav dropdown-fat">
            <!-- <li class="dropdown">
                <a href="./ConnectingRods.html">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;连杆&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                </a>
            </li> -->
          </ul>
        </div>
        <!-- /.nav-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- 搜索框 -->
    <div class=" sousuo hidden-xs">
      <div class="input-group input-group-md col-xs-5 col-md-3">
        <input type="text" class="form-control sousuo-ipt" placeholder="Search" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
    <!-- 轮播图 -->

    <div id="myCarousel" class="carousel slide">
      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <a href="#"><img src="./assets/image/img/122.jpg" alt="..." /></a>
        </div>
        <div class="item">
          <a href="#"><img src="./assets/image/car1.png" alt="..." /></a>
        </div>
        <div class="item">
          <a href="#"><img src="./assets/image/car2.png" alt="..." /></a>
        </div>
        <div class="item">
          <a href="#"><img src="./assets/image/car3.png" alt="..." /></a>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    </div>

    <!-- 分类信息页面 -->
    <div class="conter">
      <div class="row">
        <div class="col-lg-3 hidden-xs hidden-sm hidden-md">
          <div class="conter-left">
            <div class="conter-left-top">Make/Engine</div>
            <a href="ConnectingRods.html" class="conter-left-top-a">——— Connecting rods ———</a>
            <ul class="catrgory">
              <!-- <li><a href="#">▶ Acura & Honda Rods</a></li>
            <li><a href="#">▶ Audi & VW Rods</a></li>
            <li><a href="#">▶ Buick Rods</a></li> -->
            </ul>
            <a href="#" class="conter-left-top-a">——— Crankshafts ————</a>
            <a href="#" class="conter-left-top-a">——— Pistons ——————</a>
            <a href="#" class="conter-left-top-a">——Connecting rods bolts——</a>
            <a href="#" class="conter-left-top-a">——— Gallery ——————</a>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="conter-right">
            <!-- <div class="conter-right-top hidden-xs">
              <a href="#">
                <img src="./assets/image/jie.png" alt="" />
              </a>
            </div> -->
            <!-- <div class="kong  hidden-xs"></div> -->
            <p class="col-md-12">主打产品</p>
            <div class="content-cent col-md-12">
              <div class="row">
                <div class="cent col-md-3 col-sm-6">
                  <img src="./assets/image/img/010aj.jpg" alt="" />
                  <a href="#">RACE CONNECTING RODS (6) – TOYOTA 1GR-FE</a>
                </div>
                <div class="cent col-md-3 col-sm-6">
                  <img src="./assets/image/img/Aluminium Rods.JPG" alt="" />
                  <a href="#">RACE CONNECTING RODS (6) – TOYOTA 1GR-FE</a>
                </div>
                <div class="cent col-md-3 col-sm-6">
                  <img src="./assets/image/img/DSCN4744.JPG" alt="" />
                  <a href="#">RACE CONNECTING RODS (6) – TOYOTA 1GR-FE</a>
                </div>
                <div class="cent col-md-3 col-sm-6">
                  <img src="./assets/image/img/DSCN4745.JPG" alt="" />
                  <a href="#">RACE CONNECTING RODS (6) – TOYOTA 1GR-FE</a>
                </div>
                <div class="cent col-md-3 col-sm-6">
                  <img src="./assets/image/img/DSCN4746.JPG" alt="" />
                  <a href="#">RACE CONNECTING RODS (6) – TOYOTA 1GR-FE</a>
                </div>
                <div class="cent col-md-3 col-sm-6">
                  <img src="./assets/image/img/DSCN4748.JPG" alt="" />
                  <a href="#">RACE CONNECTING RODS (6) – TOYOTA 1GR-FE</a>
                </div>
                <div class="cent col-md-3 col-sm-6">
                  <img src="./assets/image/img/DSCN4749.JPG" alt="" />
                  <a href="#">RACE CONNECTING RODS (6) – TOYOTA 1GR-FE</a>
                </div>
                <div class="cent col-md-3 col-sm-6">
                  <img src="./assets/image/img/DSCN4750.JPG" alt="" />
                  <a href="#">RACE CONNECTING RODS (6) – TOYOTA 1GR-FE</a>
                </div>
                <div class="cent col-md-3 col-sm-6">
                  <img src="./assets/image/img/Fiat 500.JPG" alt="" />
                  <a href="#">RACE CONNECTING RODS (6) – TOYOTA 1GR-FE</a>
                </div>
                <div class="cent col-md-3 col-sm-6">
                  <img src="./assets/image/img/Full machined I-beam Connecting rod.JPG" alt="" />
                  <a href="#">RACE CONNECTING RODS (6) – TOYOTA 1GR-FE</a>
                </div>
                <div class="cent col-md-3 col-sm-6">
                  <img src="./assets/image/img/Honda K24.jpg" alt="" />
                  <a href="#">RACE CONNECTING RODS (6) – TOYOTA 1GR-FE</a>
                </div>
                <div class="cent col-md-3 col-sm-6">
                  <img src="./assets/image/img/Mitsubishi H-beam Connecting Rod.JPG" alt="" />
                  <a href="#">RACE CONNECTING RODS (6) – TOYOTA 1GR-FE</a>
                </div>
                <div class="cent col-md-3 col-sm-6">
                  <img src="./assets/image/img/Mitsubishi H-beam Connecting Rod.JPG" alt="" />
                  <a href="#">RACE CONNECTING RODS (6) – TOYOTA 1GR-FE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- news -->
      <div class="row">
        <div class="col-md-5 col-xs-12 col-md-offset-1">
          <div class="newzx_bl">
            <h3>新闻 &amp; 更新</h3>
            <div class="newxx">
              <div class="panel panel-default">
                <div class="panel-heading">Hurricane Custom Crankshaft Information</div>
                <!-- <div class="panel-body">
                <p>As we know that forged or billet crankshafts are both great
                  for high performance applications also popular at race
                  markets. forged 4340 steel cranksha...
                </p>
              </div> -->
                <ul class="list-group">
                  <li class="list-group-item"><span class="badge">2018-03-26</span><a href="#">4340 STEEL, TITANIUM
                      AND
                      ALUMINUM CONNECTING RODS</a></li>
                  <li class="list-group-item"><span class="badge">2018-04-13</span><a href="#">Hurricane Custom
                      Piston
                      Information</a></li>
                  <li class="list-group-item"><span class="badge">2017-05-30</span><a href="#">The
                      difference of the connecting rod manufacturing</a></li>
                  <li class="list-group-item"><span class="badge">2017-09-19</span><a href="#">Hurricane
                      High Performance connecting rods - Process of</a></li>
                  <li class="list-group-item"><a href="news.html">更多</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- swiper -->
        <div class="sip col-md-6 hidden-xs">
          <div class="swiper-container2 swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide" style="background-image:url(./assets/image/img/1.jpg)"></div>
              <div class="swiper-slide" style="background-image:url(./assets/image/img/4.jpg)"></div>
              <div class="swiper-slide" style="background-image:url(./assets/image/img/5.jpg)"></div>
              <div class="swiper-slide" style="background-image:url(./assets/image/img/6.jpg)"></div>
            </div>

            <!-- Add Pagination -->
            <div class="swiper-pagination2 swiper-pagination"></div>

            <!-- Add Arrows -->
            <div class="swiper-button-prev2 swiper-button-prev"></div>
            <div class="swiper-button-next2 swiper-button-next"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <footer>
    <div class="row hidden-xs hidden-sm hidden-md">
      <div class="col-md-4">
        <h4>关于我们</h4>
        <ul>
          <li><a href="#">公司简介</a></li>
          <li><a href="#">质量反馈</a></li>
          <li><a href="#">企业文化</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>联系我们</h4>
        <ul>
          <li><a href="#">客户服务</a></li>
          <li><a href="#">合作洽谈</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>公司地址</h4>
        <ul>
          <li><a href="#">地址：广东省深圳市南山区沙河西路2009号尚美科技大厦1601-1602</a></li>
          <li><a href="#">电话：0755-23216034</a></li>
          <li><a href="#">邮箱：contact@86cp.com</a></li>
        </ul>
      </div>
    </div>
    <div class="visible-xs visible-sm visible-md footer-small">
      <p>Copyright © 深圳市天蓝网络科技有限公司 All Rights Reserved. 版权所有 粤ICP备18142694号-1</p>
    </div>
  </footer>
  <script src="./assets/vendors/jquery/jquery.js"></script>
  <script src="./assets/vendors/swiper/js/swiper.min.js"></script>
  <script src="./assets/vendors/bootstrap/js/bootstrap.js"></script>
  <script src="./assets/vendors/template-web.js"></script>
</body>
<script type="text/html" id="silder">
  <ol class="carousel-indicators">
    {{each list value index}}
    {{if value.post_id==1}}
    <li data-target="#myCarousel" data-slide-to="{{index}}" {{if index==0}} class="active" {{/if}}></li>
    {{/if}}
    {{/each}}
  </ol>
  <div class="carousel-inner">
    {{each list value index}}
    {{if value.post_id==1}}
    <div class="item {{if index==0}} active  {{/if}}">
      <a href="{{value.interlinkage}}"><img src="{{value.original_img}}" alt="..." /></a>
    </div>
    {{/if}}
    {{/each}}
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</script>
<script type="text/html" id="nav">
  {{each list value}}
  <li class="dropdown">
    <a href="{{value.link}}">
      {{value.name}}
    </a>
  </li>
  {{/each}}
</script>
<script type="text/html" id="category">
  {{each list value}}
  <li><a href="#">▶ {{value.name}}</a></li>
  {{/each}}
</script>
<script type="text/html" id="news">
  {{each list value index}}
  <li class="list-group-item"><span class="badge">{{value.create_time}}</span><a href="#">{{value.title}}</a></li>
  {{/each}}
  <li class="list-group-item"><a href="news.html">更多</a></li>
</script>
<script type="text/html" id="silder2">
  {{each list value}}
  {{if value.post_id==2}}
  <div class="swiper-slide" style="background-image:url({{value.original_img}})"></div>
  {{/if}}
  {{/each}}
</script>
<script>
  window.onload = function () {

    $.get({
      url: 'http://localhost:80/frontApi/silder.php',
      dataType: 'json',
      success: function (obj) {
        // console.log(obj);
        const html = template('silder', {
          list: obj
        })
        // console.log(html);
        $('#myCarousel').html(html);
      }
    })
    $.get({
      url: 'http://localhost:80/frontApi/nav.php',
      dataType: 'json',
      success: function (obj) {
        // console.log(obj);
        const html = template('nav', {
          list: obj
        })
        // console.log(html);
        $('.navbar-nav').html(html);
      }
    })
    $.get({
      url: 'http://localhost:80/frontApi/catrgory.php',
      dataType: 'json',
      success: function (obj) {
        // console.log(obj);
        const html = template('category', {
          list: obj
        })
        // console.log(html);
        $('.catrgory').html(html);
      }
    })
    $.get({
      url: 'http://localhost:80/frontApi/news.php',
      data: {
        pageIndex: 1,
        pageSize: 6
      },
      dataType: 'json',
      success: function (obj) {
        const html = template('news', {
          list: obj.data
        })
        $('.list-group').html(html)
      }
    })
    $.get({
      url: 'http://localhost:80/frontApi/silder.php',
      dataType: 'json',
      success: function (obj) {
        // console.log(obj);
        const html = template('silder2', {
          list: obj
        })
        // console.log(html);
        $('.swiper-wrapper').html(html);
        var swiper2 = new Swiper('.swiper-container2', {
          effect: 'flip',
          grabCursor: true,
          loop: true,
          pagination: {
            el: '.swiper-pagination2',
          },
          navigation: {
            nextEl: '.swiper-button-next2',
            prevEl: '.swiper-button-prev2',
          },
        });
      }
    })
  };
</script>

</html>