.conter-right .list-group .list-group-item {
    border: 0;
    font-size: .166667rem;
    padding: 8px 15px !important;
    margin-bottom: .15rem;
    overflow: hidden;
}
.conter-right {
    background-color: #cfcfcf;
}
.content-cent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cent {
    text-align: center;
    /* width: 2.203704rem; */
    /* height: 300px; */
}

.cent img {
    width: 100%;
}

.cent a {
    font-size: .12963rem;
    display: block;
    margin: .1rem 0;
}

.cent a:hover {
    text-decoration: underline
}

.newzx_bl {
    background-color: #e5e5e5;
    margin-top: -0.1rem;
    /* padding-top: .4rem; */
    /* padding-left: .15rem;
    padding-right: .5rem */
}

.newzx_bl h3 {
    font-size: .15rem;
    position: relative;
    line-height: .3rem;
    text-decoration: underline
}

.newxx {
    margin-top: .15rem;
}

.carousel-inner {
    width: 100%;
    height: 4.259259rem;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

/* swiper */
.swiper-container2 {
    width: 400px;
    height: 400px;
}

.swiper-container2 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
}

.sip {
    margin-top: 73px;
    margin-bottom: 15px;
}

/* 媒体查询 */
@media screen and (max-width: 1299px) {
    .conter-right .list-group .list-group-item {
        margin-top: 0;
    }
}