.conter-right-top {
    /* height: 1.06rem; */
    overflow: hidden;
    background-color: #d2d2d2;
    /* width: 4.15rem; */
    /* margin: 0 auto */
}

.conter-right-top a {
    display: block;
}

.kong {
    height: .08rem;
    background-color: #e5e5e5;
}

.conter-right {
    background-color: #d2d2d2;
}

.conter-right h3 {
    height: .2rem;
    display: block;
    margin: 0;
    color: black;
    font-size: .12rem;
    line-height: .18rem;
    padding-left: .08rem;
}

.content-cent {
    /* padding-left: .075rem; */
    /* padding: .15rem; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* padding-top: .05rem; */
}

.cent {
    text-align: center;
    width: 1.339rem;
    height: 1.3rem;
    padding: .078rem;
}

.cent img {
    width: 100%;
}

.cent a {
    font-size: .05rem;
    margin-top: .025rem;
}

.cent a:hover {
    text-decoration: underline
}

.newzx_bl {
    background-color: #e5e5e5;
    margin-top: -0.1rem;
    /* padding-top: .4rem; */
    /* padding-left: .15rem;
    padding-right: .5rem */
}

.newzx_bl h3 {
    font-size: .15rem;
    position: relative;
    line-height: .3rem;
    text-decoration:underline
}



.newxx {
    margin-top: .15rem;
}

.new_li {
    overflow: hidden;
}

.new_li a {
    float: left;
}

.new_li span {
    float: right;
}
.carousel-inner {
    width: 100%;
    height: 1.8rem;
}

.carousel-inner img {
    width: 100%;
}

.newone p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.new_li a {
    font-family: 'Arial';
}

.newlist {
    width: 100%;
    margin-top: .15rem;
}

.newlist li {
    margin-top: .05rem;
    border-bottom: 1px dashed #cccccc;
}

.newlist li a {
    width: 60%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.newlist li span {
    float: right;
}


/* swiper */
.swiper-container2 {
    width: 300px;
    height: 300px;
    padding: 50px;
}

.swiper-container2 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
.sip{
    margin-top: 100px;
}

/* 媒体查询 */
@media screen and (max-width: 1299px){
    footer{
        padding: .1rem;
    }
    .cent{
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 0;
    }
    .content-cent{
        justify-content: space-between;
        padding: .2rem;
    }
    #basement{
        width: 100%;
    }
}

@media screen and (min-width: 1300px) {
    .cent {
        width: 200px;
        height: 200px;
        margin-right: 0;
    }

    .content-cent {
        justify-content: space-between;
        padding: .2rem;
    }
}