* {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: underline;
}

html,
body {
    position: relative;
    background-color: #000000;
}

#basement {
    width: 1300px;
    margin: 0 auto;
}

header {
    height: 1.574074rem;
    background-image: url("../image/img/21.jpg");
    background-repeat: no-repeat; 
    background-size: 100%  
}

/* header img {
    width: 100%;
    height: 100%;
} */

.navbar-brand {
    display: block;
    width: .555556rem;
    padding: 10px 0px;
}

.navbar-brand i {
    display: block;
    margin-left: .25rem;
    font-size: 28px;
    color: aqua;
}

.navbar-nav {
    background-color: #fdfcff;
    font-size: .12963rem;
}

#navbar-example {
    margin-bottom: .03rem;
}
.sousuo{
    background-color: #000000;
}
.sousuo2 {
    width: 6.777778rem;
    margin-left: 2rem;
    margin-top: 8px;
}

.sousuo-ipt {
    background: #ffffff;

}

#carousel-example-generic {
    width: 100%;
}

#carousel-example-generic img {
    /* width: 11.55rem; */
    height: 1rem;
}

.conter {
    width: 100%;
    background-color: #e5e5e5;
    overflow: hidden;

}

.conter-left {
    border: 1px solid black;
    width: 2.314815rem;
    margin-left: .416667rem;
    margin-top: .22rem;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
}

.conter-left span {
    line-height: .18rem;
    display: block;
}

.conter-left-top-a {
    line-height: .277778rem;
    font-size: .148148rem;
    color: #000000;
    display: block;
}

.conter-left-top {
    height: .324074rem;
    background-image: url('../image/cpflr_h3.png');
    color: white;
    line-height: .324074rem;
}

.catrgory {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.catrgory li {
    padding: 10px 30px;

}

.catrgory li a {
    font-size: .12963rem;
    color: #333333;

}

/* .catrgory li a:hover {
    text-decoration: underline
} */


/* footer */
footer {
    background-color: #1c1c1c;
    padding: .3rem;
}

footer .row {
    /* height: 270px; */

    /* width: 100%; */
    /* position: absolute; */
    /* bottom: -270px; */

    padding-left: .8rem;
    color: #ffffff
}

footer h4 {
    font-size: .185185rem;
}

footer li a {
    font-size: .12963rem;
    line-height: .25rem;
    color: #b5b5b5;
    margin-left: .092593rem;
}

footer .row>div {
    overflow: hidden;
}

.footer-small {
    text-align: center;
    color: gray;
    margin: 10px 0
}

.dropdown-fat li{
    width: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .dropdown-fat li {
        width: auto;
        text-align: left;
    }
}
@media screen and (max-width: 1299px){
    footer{
        padding: 0;
    }
    
    .content-cent{
        justify-content: space-between;
    }
    #basement{
        width: 100%;
    }
}