.choose{
    background-color: #000000;
}
#drop2{
    color: white;
}
.breadcrumb{
    margin: 0; 
}
.conter-left{
    margin-top: .15rem;
}
.conter-right{
    padding: 0;
}
.conter-right-top2{
    height: 30px;
    background: url('../image/cpflr_h3.png');
    color: aliceblue;
    line-height: 30px;
    font-size: .12963rem;
    padding-left: 25px;
}
.conter-right-con{
    background-color: #cccccc;
    padding: .1rem;
}
.media{
    border-bottom: 1px solid #dcdcdc;
    background-color: #ffffff;
    padding-bottom: .05rem;
    position: relative;
}
.media-middle{
    border: 1px #dcdcdc dashed;
    width: 37%;
}
.media-body{
    padding: .1rem;
}
.media-heading{
    font-size: .185185rem;
}
.media-body p{
    font-size: .111111rem;
    line-height: .12963rem;
}
.media-object{
    width: 100%;
}
