.choose{
    background-color: #000000;
}
#drop2{
    color: white;
}
.breadcrumb{
    margin: 0; 
}
.conter-left{
    margin-top: .15rem;
}
.conter-right{
    padding: 0;
}
.conter-right-top{

}
.conter-right-top2{
    height: 30px;
    background: url('../image/cpflr_h3.png');
    color: aliceblue;
    line-height: 30px;
    
}
.conter-right-con{
    background-color: #cccccc;
    padding: .1rem;
}
.media{
    border-bottom: 1px solid #dcdcdc;
    background-color: #ffffff;
    padding-bottom: .05rem;
    position: relative;
    margin-top: .3rem !important;
}
.media-left{
    border: 1px #dcdcdc dashed;
}
.media-body{
    padding: .1rem;
}
.media-body p{
    font-size: 12px;
    line-height: 14px;
}
.media-object{
    width: 190px;
}
.catrgory2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.catrgory2 li img{
    width: 190px;
    height: 190px;
}
.catrgory2 li{
    width: 192px;
    height: 265px;
}
.catrgory3{
    text-align: left;
    padding: 20px;
}
.catrgory3 li{
    list-style: square;
}
.catrgory3 li a{
    color: #003366;
    font-size: 14px;
}
.catrgory3 li p{
    font-size: 10px;
}

@media screen and (max-width: 500px){
    footer{
        padding: 0;
    }
    
    .content-cent{
        justify-content: space-between;
        padding: .2rem;
    }
    #basement{
        width: 100%;
    }
}