.choose{
    background-color: #000000;
}
#drop3{
    color: white;
}
.breadcrumb{
    margin: 0; 
}
.conter-left{
    margin-top: .15rem;
}
.conter-right{
    padding: 0;
}
.conter-right-top{

}
.conter-right-con{
    background-color: #ffffff;
    padding: .1rem;
}
.catrgory2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.catrgory2 li img{
    width: 190px;
    height: 190px;
}
.catrgory2 li{
    width: 192px;
    height: 265px;
}
.catrgory3{
    text-align: left;
    padding: 20px;
}
.catrgory3 li{
    list-style: square;
}
.catrgory3 li a{
    color: #003366;
    font-size: 14px;
}
.catrgory3 li p{
    font-size: 10px;
}
.sub{
    margin-top: .8rem;
}

@media screen and (max-width: 500px){
    footer{
        padding: 0;
    }
    
    .content-cent{
        justify-content: space-between;
        padding: .2rem;
    }
    #basement{
        width: 100%;
    }
}