.breadcrumb {
    margin: 0;
}

.conter-left {
    margin-top: .15rem;
}

.conter-right-con {
    background-color: #ffffff;
    padding: .1rem;
    height: 2000px;
}

.conter-right-con-img1 {
    width: 100%;
}

.conter-right-con-img2 {
    width: 100%;
}


@media screen and (max-width: 1300px) {
    .conter-right-con-img2 {
        width: 60%;
    }
}