.news-detail-title{
    /* height: 50px; */
    overflow: hidden;
    /* line-height: 50px; */
    border-bottom: 1px solid #cccccc;
    text-align: center;
    color: #af0d0d;
    font-weight: 700;
}
.news-detail-auth{
    padding: .035rem .3rem;
    display: flex;
    justify-content: space-around;
}
.news-detail-auth span{
    font-size: .12963rem;
}
.news-detail-content{
    padding: .111111rem;
}
@media screen and (max-width: 768px) {
    .news-detail-content{
        min-height: 426px;
    }
}