.choose{
    background-color: #000000;
}
#drop3{
    color: white;
}
.breadcrumb{
    margin: 0; 
}
.conter-left{
    margin-top: .15rem;
}
.conter-right{
    padding: 0;
}
.conter-right-top{

}
.conter-right-top2{
    height: 30px;
    background: url('../image/cpflr_h3.png');
    color: aliceblue;
    line-height: 30px;
    
}
.conter-right-con{
    background-color: #ffffff;
    padding: 0 .1rem;
}

.catrgory2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.catrgory2 li img{
    width: 190px;
    height: 190px;
}
.catrgory2 li{
    width: 192px;
    height: 265px;
}
.catrgory3{
    text-align: left;
    padding: 20px;
}
.catrgory3 li{
    list-style: square;
}
.catrgory3 li a{
    color: #003366;
    font-size: 14px;
}
.catrgory3 li p{
    font-size: 10px;
}


/* 新闻样式 */
.news{
    width: 100%;
}
.news li{
    display: block;
    width: 100%;
    height: .19rem;
    border-bottom: 1px dashed #cccccc;
    line-height: .19rem; 
}
.news li span{
    float: right;
}
.news li a{
    float: left;
}

@media screen and (max-width: 500px){
    footer{
        padding: 0;
    }
    .news li{
        height: .4rem;
        line-height: .4rem;
    }
    #basement{
        width: 100%;
    }
}
