<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <!-- 页面一开始就要判断是否有登录（就是看服务器有没有session） -->
    <script>
        //给服务器发一个请求，问是否有登录
        var xhr = new XMLHttpRequest();
        xhr.open('get', 'api/checkLogin.php');
        xhr.send();

        xhr.onload = function () {

            // console.log(xhr.responseText);
            // 转成JS数据
            var obj = JSON.parse(xhr.responseText);

            if (obj.code != 0) {

                //代表没有登录，打回登录页
                location = "login.html";
            }
        }
    </script>
    <meta charset="utf-8">
    <title>Posts &laquo; Admin</title>
    <link rel="stylesheet" href="../assets/vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/vendors/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../assets/vendors/nprogress/nprogress.css">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <script src="../assets/vendors/nprogress/nprogress.js"></script>
</head>

<body>
    <script>
        NProgress.start()
    </script>

    <div class="main">
        <nav class="navbar">
            <button class="btn btn-default navbar-btn fa fa-bars"></button>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="profile.html"><i class="fa fa-user"></i>个人中心</a></li>
                <li><a href="api/doLogout.php"><i class="fa fa-sign-out"></i>退出</a></li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="page-title">
                <h1>所有文章</h1>
                <a href="commodity-add.html" class="btn btn-primary btn-xs">写商品信息</a>
            </div>
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                            data-toggle="tab">连接杆</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                            data-toggle="tab">曲轴</a>
                    </li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                            data-toggle="tab">活塞</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <!-- 1 -->
                        <div class="page-action">
                            <!-- show when multiple checked -->
                            <a id="batchDel1" class="batchDel btn btn-danger btn-sm" href="javascript:;"
                                style="display: none">批量删除</a>
                            <form class="form-inline">
                                <select id="selStatus1" name="" class="form-control selStatus input-sm">
                                    <option>所有状态</option>
                                    <option value="drafted">草稿</option>
                                    <option value="published">已发布</option>
                                </select>
                                <button id="btnSearch1" class="btn btn-default btn-sm">筛选</button>
                            </form>
                            <ul class="pagination1 pagination-sm pull-right">
                                <li><a href="#">上一页</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">下一页</a></li>
                            </ul>
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center" width="40"><input type="checkbox"></th>
                                    <th>标题</th>
                                    <th>品牌</th>
                                    <th class="text-center">发表时间</th>
                                    <th class="text-center">状态</th>
                                    <th class="text-center" width="100">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center"><input type="checkbox"></td>
                                    <td>随便一个名称</td>
                                    <td>小小</td>
                                    <td>潮科技</td>
                                    <td class="text-center">2016/10/07</td>
                                    <td class="text-center">已发布</td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="btn btn-default btn-xs">编辑</a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><input type="checkbox"></td>
                                    <td>随便一个名称</td>
                                    <td>小小</td>
                                    <td>潮科技</td>
                                    <td class="text-center">2016/10/07</td>
                                    <td class="text-center">已发布</td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="btn btn-default btn-xs">编辑</a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><input type="checkbox"></td>
                                    <td>随便一个名称</td>
                                    <td>小小</td>
                                    <td>潮科技</td>
                                    <td class="text-center">2016/10/07</td>
                                    <td class="text-center">已发布</td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="btn btn-default btn-xs">编辑</a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <!-- 2 -->
                        <div class="page-action">
                            <!-- show when multiple checked -->
                            <a id="batchDel2" class="batchDel btn btn-danger btn-sm" href="javascript:;"
                                style="display: none">批量删除</a>
                            <form class="form-inline">
                                <select id="selStatus2" name="" class="form-control selStatus input-sm">
                                    <option>所有状态</option>
                                    <option value="drafted">草稿</option>
                                    <option value="published">已发布</option>
                                </select>
                                <button id="btnSearch2" class="btn btn-default btn-sm">筛选</button>
                            </form>
                            <ul class="pagination2 pagination-sm pull-right">
                                <li><a href="#">上一页</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">下一页</a></li>
                            </ul>
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center" width="40"><input type="checkbox"></th>
                                    <th>标题</th>
                                    <th>品牌</th>
                                    <th class="text-center">发表时间</th>
                                    <th class="text-center">状态</th>
                                    <th class="text-center" width="100">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center"><input type="checkbox"></td>
                                    <td>随便一个名称</td>
                                    <td>小小</td>
                                    <td>潮科技</td>
                                    <td class="text-center">2016/10/07</td>
                                    <td class="text-center">已发布</td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="btn btn-default btn-xs">编辑</a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><input type="checkbox"></td>
                                    <td>随便一个名称</td>
                                    <td>小小</td>
                                    <td>潮科技</td>
                                    <td class="text-center">2016/10/07</td>
                                    <td class="text-center">已发布</td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="btn btn-default btn-xs">编辑</a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><input type="checkbox"></td>
                                    <td>随便一个名称</td>
                                    <td>小小</td>
                                    <td>潮科技</td>
                                    <td class="text-center">2016/10/07</td>
                                    <td class="text-center">已发布</td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="btn btn-default btn-xs">编辑</a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <!-- 3 -->
                        <div class="page-action">
                            <!-- show when multiple checked -->
                            <a id="batchDel3" class="batchDel btn btn-danger btn-sm" href="javascript:;"
                                style="display: none">批量删除</a>
                            <form class="form-inline">
                                <select id="selStatus3" name="" class="form-control selStatus input-sm">
                                    <option>所有状态</option>
                                    <option value="drafted">草稿</option>
                                    <option value="published">已发布</option>
                                </select>
                                <button id="btnSearch3" class="btn btn-default btn-sm">筛选</button>
                            </form>
                            <ul class="pagination3 pagination-sm pull-right">
                                <li><a href="#">上一页</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">下一页</a></li>
                            </ul>
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center" width="40"><input type="checkbox"></th>
                                    <th>标题</th>
                                    <th>品牌</th>
                                    <th class="text-center">发表时间</th>
                                    <th class="text-center">状态</th>
                                    <th class="text-center" width="100">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center"><input type="checkbox"></td>
                                    <td>随便一个名称</td>
                                    <td>小小</td>
                                    <td>潮科技</td>
                                    <td class="text-center">2016/10/07</td>
                                    <td class="text-center">已发布</td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="btn btn-default btn-xs">编辑</a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><input type="checkbox"></td>
                                    <td>随便一个名称</td>
                                    <td>小小</td>
                                    <td>潮科技</td>
                                    <td class="text-center">2016/10/07</td>
                                    <td class="text-center">已发布</td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="btn btn-default btn-xs">编辑</a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><input type="checkbox"></td>
                                    <td>随便一个名称</td>
                                    <td>小小</td>
                                    <td>潮科技</td>
                                    <td class="text-center">2016/10/07</td>
                                    <td class="text-center">已发布</td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="btn btn-default btn-xs">编辑</a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="aside">
        <div class="profile">
            <img class="avatar" src="../assets/img/mao.jpg">
            <h3 class="name">布头儿</h3>
        </div>
        <ul class="nav">
            <li>
                <a href="index.html"><i class="fa fa-dashboard"></i>仪表盘</a>
            </li>
            <li>
                <a href="#menu-posts" data-toggle="collapse ">
                    <i class="fa fa-thumb-tack"></i>文章<i class="fa fa-angle-right"></i>
                </a>
                <ul id="menu-posts" class="collapse">
                    <li><a href="posts.html">所有文章</a></li>
                    <li><a href="post-add.html">写文章</a></li>
                    <li><a href="categories.html">分类目录</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="#menu-commodity" class="collapsed" data-toggle="collapse">
                    <i class="fa fa-thumb-tack"></i>商品<i class="fa fa-angle-right"></i>
                </a>
                <ul id="menu-commodity" class="collapse in">
                    <li class="active"><a href="commodity.html">所有商品</a></li>
                    <li><a href="commodity-add.html">写商品信息</a></li>
                </ul>
            </li>
            <li>
                <a href="users.html"><i class="fa fa-users"></i>用户</a>
            </li>
            <li>
                <a href="#menu-settings" class="collapsed" data-toggle="collapse">
                    <i class="fa fa-cogs"></i>设置<i class="fa fa-angle-right"></i>
                </a>
                <ul id="menu-settings" class="collapse">
                    <li><a href="nav-menus.html">导航菜单</a></li>
                    <li><a href="slides.html">图片轮播</a></li>
                    <li><a href="slides2.html">图片轮播(2)</a></li>
                    <li><a href="engine.html">发动机厂家</a></li>
                    <li><a href="settings.html">网站设置</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <script src="../assets/vendors/jquery/jquery.js"></script>
    <script src="../assets/vendors/bootstrap/js/bootstrap.js"></script>
    <script>
        NProgress.done()
    </script>
</body>

</html>

<script src="../assets/vendors/template-web.js"></script>

<script src="../assets/vendors/twbs-pagination/jquery.twbsPagination.min.js"></script>

<!-- 准备生成tr的模板 -->
<script type="text/html" id="tplTr1">
    {{ each list value }}
    <tr>
        <td class="text-center"><input type="checkbox" value="{{value.Id}}"></td>
        <td>{{value.title}}</td>
        <td>{{value.brand}}</td>
        <td class="text-center">{{value.created}}</td>

        {{ if value.status == 'published' }}
        <td class="text-center">已发布</td>
        {{ else }}
        <td class="text-center">草稿</td>
        {{ /if }}
        <td class="text-center">
            <a href="commodity-edit1.html?id={{value.Id}}" class="btn btn-default btn-xs">编辑</a>
            <a href="javascript:deleteTr(1,{{value.Id}})" class="btn btn-danger btn-xs">删除</a>
        </td>
    </tr>
    {{ /each }}
</script>
<script type="text/html" id="tplTr2">
    {{ each list value }}
    <tr>
        <td class="text-center"><input type="checkbox" value="{{value.Id}}"></td>
        <td>{{value.title}}</td>
        <td>{{value.brand}}</td>
        <td class="text-center">{{value.created}}</td>

        {{ if value.status == 'published' }}
        <td class="text-center">已发布</td>
        {{ else }}
        <td class="text-center">草稿</td>
        {{ /if }}
        <td class="text-center">
            <a href="commodity-edit2.html?id={{value.Id}}" class="btn btn-default btn-xs">编辑</a>
            <a href="javascript:deleteTr(2,{{value.Id}})" class="btn btn-danger btn-xs">删除</a>
        </td>
    </tr>
    {{ /each }}
</script>
<script type="text/html" id="tplTr3">
    {{ each list value }}
    <tr>
        <td class="text-center"><input type="checkbox" value="{{value.Id}}"></td>
        <td>{{value.title}}</td>
        <td>{{value.brand}}</td>
        <td class="text-center">{{value.created}}</td>

        {{ if value.status == 'published' }}
        <td class="text-center">已发布</td>
        {{ else }}
        <td class="text-center">草稿</td>
        {{ /if }}
        <td class="text-center">
            <a href="commodity-edit3.html?id={{value.Id}}" class="btn btn-default btn-xs">编辑</a>
            <a href="javascript:deleteTr(3,{{value.Id}})" class="btn btn-danger btn-xs">删除</a>
        </td>
    </tr>
    {{ /each }}
</script>
<script>
    // 单行删除点击事件
    function deleteTr(num, id) {
        if (num == 1) {
            $.post({

                url: "api/deleteCommodity1.php",
                data: {
                    ids: id
                },
                dataType: "json",
                success: function (obj) {

                    if (obj.code == 0) {

                        // location.reload();
                        //被点击的这一行删掉就行了
                        // $('tbody>tr').eq(index).remove();

                        location.reload();


                        // $('tbody>tr').each(function(){

                        //     if( id ==  $(this).attr('index')){

                        //       //代表找到了就删掉它
                        //       $(this).remove();
                        //     }
                        // });

                    } else {

                        alert('删除失败！');
                    }
                }
            });
        } else if (num == 2) {
            $.post({

                url: "api/deleteCommodity2.php",
                data: {
                    ids: id
                },
                dataType: "json",
                success: function (obj) {

                    if (obj.code == 0) {

                        // location.reload();
                        //被点击的这一行删掉就行了
                        // $('tbody>tr').eq(index).remove();

                        location.reload();


                        // $('tbody>tr').each(function(){

                        //     if( id ==  $(this).attr('index')){

                        //       //代表找到了就删掉它
                        //       $(this).remove();
                        //     }
                        // });

                    } else {

                        alert('删除失败！');
                    }
                }
            });
        } else if (num == 3) {
            $.post({

                url: "api/deleteCommodity3.php",
                data: {
                    ids: id
                },
                dataType: "json",
                success: function (obj) {

                    if (obj.code == 0) {

                        // location.reload();
                        //被点击的这一行删掉就行了
                        // $('tbody>tr').eq(index).remove();

                        location.reload();


                        // $('tbody>tr').each(function(){

                        //     if( id ==  $(this).attr('index')){

                        //       //代表找到了就删掉它
                        //       $(this).remove();
                        //     }
                        // });

                    } else {

                        alert('删除失败！');
                    }
                }
            });
        }
    }
    $(function () {
        loadData(1, 1);
        loadData(2, 1);
        loadData(3, 1);

        function loadData(num, page) {
            if (num == 1) {
                $.get({

                    url: "api/getCommity1.php",
                    data: {
                        pageIndex: page,
                        pageSize: 15,
                        status: $('#selStatus1').val()
                    },
                    dataType: "json",
                    success: function (obj) {

                        // console.log(obj);
                        //调用模板
                        var html = template('tplTr1', {
                            list: obj.data
                        });
                        $('#home tbody').html(html);

                        //先摧毁分页
                        $('.pagination1').twbsPagination('destroy');
                        // 这个插件出于节省效率的目的，只会帮你初始化一次！只有第一次来执行这段代码才有用
                        // 后面执行都不会再帮你重新设置那些选项
                        // 解决办法：我让它每次来都是第一次，那就是先删掉它，再创建它
                        $('.pagination1').twbsPagination({
                            // 设置总页数
                            totalPages: obj.totalPages,
                            // 设置可见页数
                            visiblePages: 5,
                            // 设置默认让哪一页为起始页（让哪一页为高亮页，默认值为1）
                            // 所以我们要让startPage改为当前页
                            startPage: page,
                            // 禁用默认的插件初始化完成自动调用点击事件
                            initiateStartPageClick: false,
                            first: "首页",
                            prev: "上一页",
                            next: "下一页",
                            last: "尾页",
                            // 参数1：事件对象
                            // 参数2：被点击的页码数
                            onPageClick: function (event, page) {
                                // alert(page);
                                loadData(1, page);
                            }
                        });

                    }
                });
            } else if (num == 2) {
                $.get({

                    url: "api/getCommity2.php",
                    data: {
                        pageIndex: page,
                        pageSize: 15,
                        status: $('#selStatus2').val()
                    },
                    dataType: "json",
                    success: function (obj) {

                        // console.log(obj);
                        //调用模板
                        var html = template('tplTr2', {
                            list: obj.data
                        });
                        $('#profile tbody').html(html);

                        //先摧毁分页
                        $('.pagination2').twbsPagination('destroy');

                        // 这个插件出于节省效率的目的，只会帮你初始化一次！只有第一次来执行这段代码才有用
                        // 后面执行都不会再帮你重新设置那些选项
                        // 解决办法：我让它每次来都是第一次，那就是先删掉它，再创建它
                        $('.pagination2').twbsPagination({
                            // 设置总页数
                            totalPages: obj.totalPages,
                            // 设置可见页数
                            visiblePages: 5,
                            // 设置默认让哪一页为起始页（让哪一页为高亮页，默认值为1）
                            // 所以我们要让startPage改为当前页
                            startPage: page,
                            // 禁用默认的插件初始化完成自动调用点击事件
                            initiateStartPageClick: false,
                            first: "首页",
                            prev: "上一页",
                            next: "下一页",
                            last: "尾页",
                            // 参数1：事件对象
                            // 参数2：被点击的页码数
                            onPageClick: function (event, page) {
                                // alert(page);
                                loadData(2, page);
                            }
                        });

                    }
                });
            } else if (num == 3) {
                $.get({

                    url: "api/getCommity3.php",
                    data: {
                        pageIndex: page,
                        pageSize: 15,
                        status: $('#selStatus3').val()
                    },
                    dataType: "json",
                    success: function (obj) {

                        // console.log(obj);
                        //调用模板
                        var html = template('tplTr3', {
                            list: obj.data
                        });
                        $('#messages tbody').html(html);

                        //先摧毁分页
                        $('.pagination3').twbsPagination('destroy');

                        // 这个插件出于节省效率的目的，只会帮你初始化一次！只有第一次来执行这段代码才有用
                        // 后面执行都不会再帮你重新设置那些选项
                        // 解决办法：我让它每次来都是第一次，那就是先删掉它，再创建它
                        $('.pagination3').twbsPagination({
                            // 设置总页数
                            totalPages: obj.totalPages,
                            // 设置可见页数
                            visiblePages: 5,
                            // 设置默认让哪一页为起始页（让哪一页为高亮页，默认值为1）
                            // 所以我们要让startPage改为当前页
                            startPage: page,
                            // 禁用默认的插件初始化完成自动调用点击事件
                            initiateStartPageClick: false,
                            first: "首页",
                            prev: "上一页",
                            next: "下一页",
                            last: "尾页",
                            // 参数1：事件对象
                            // 参数2：被点击的页码数
                            onPageClick: function (event, page) {
                                // alert(page);
                                loadData(3, page);
                            }
                        });

                    }
                });
            }
        }

        //连接杆全选的点击事件
        $('#home thead :checkbox').click(function () {

            $('#home tbody :checkbox').prop('checked', this.checked);

            if (this.checked) {
                $('#batchDel1').fadeIn();
            } else {
                $('#batchDel1').fadeOut();
            }
        });
        //曲轴全选的点击事件
        $('#profile thead :checkbox').click(function () {

            $('#profile tbody :checkbox').prop('checked', this.checked);

            if (this.checked) {
                $('#batchDel2').fadeIn();
            } else {
                $('#batchDel2').fadeOut();
            }
        });
        //活塞全选的点击事件
        $('#messages thead :checkbox').click(function () {

            $('#messages tbody :checkbox').prop('checked', this.checked);

            if (this.checked) {

                $('#batchDel3').fadeIn();
            } else {

                $('#batchDel3').fadeOut();
            }
        });
        //连接杆tbody下的checkbox的点击事件
        $('#home tbody').on('click', ':checkbox', function () {
            // console.log($('#home tbody :checked').length);
            // console.log($('#home tbody :checkbox').length);
            $('#home thead :checkbox').prop('checked', $('#home tbody :checked').length == $(
                '#home tbody :checkbox').length);

            if ($('#home tbody :checked').length > 0) {

                $('#batchDel1').fadeIn();
            } else {

                $('#batchDel1').fadeOut();
            }
        });
        //曲轴tbody下的checkbox的点击事件
        $('#profile tbody').on('click', ':checkbox', function () {

            $('#profile thead :checkbox').prop('checked', $('#profile tbody :checked').length == $(
                    '#profile tbody :checkbox')
                .length);
            if ($('#profile tbody :checked').length > 0) {
                $('#batchDel2').fadeIn();
            } else {
                $('#batchDel2').fadeOut();
            }
        });
        //活塞tbody下的checkbox的点击事件
        $('#messages tbody').on('click', ':checkbox', function () {

            $('#messages thead :checkbox').prop('checked', $('#messages tbody :checked').length == $(
                    '#messages tbody :checkbox')
                .length);

            if ($('#messages tbody :checked').length > 0) {

                $('#batchDel3').fadeIn();
            } else {

                $('#batchDel3').fadeOut();
            }
        });

        //连接杆筛选按钮的点击事件
        $('#btnSearch1').click(function (e) {

            //阻止事件默认行为
            e.preventDefault();
            loadData(1, 1);
        });
        //曲轴筛选按钮的点击事件
        $('#btnSearch2').click(function (e) {

            //阻止事件默认行为
            e.preventDefault();
            loadData(2, 1);
        });
        //活塞筛选按钮的点击事件
        $('#btnSearch3').click(function (e) {

            //阻止事件默认行为
            e.preventDefault();
            loadData(3, 1);
        });

        // 连接杆批量删除的点击事件
        $('#batchDel1').click(function () {

            var str = "";
            $('#home tbody :checked').each(function () {

                str += this.value + ",";
            });

            str = str.substr(0, str.length - 1);
            console.log(str);

            $.post({

                url: "api/deleteContent.php",
                data: {
                    ids: str
                },
                dataType: "json",
                success: function (obj) {

                    if (obj.code == 0) {

                        location.reload();
                        // $('tbody :checked').parent().parent().remove();


                    } else {

                        alert('删除失败！');
                    }
                }
            });
        });
        // 曲轴批量删除的点击事件
        $('#batchDel2').click(function () {

            var str = "";
            $('#profile tbody :checked').each(function () {

                str += this.value + ",";
            });

            str = str.substr(0, str.length - 1);
            console.log(str);

            $.post({

                url: "api/deleteContent.php",
                data: {
                    ids: str
                },
                dataType: "json",
                success: function (obj) {

                    if (obj.code == 0) {

                        location.reload();
                        // $('tbody :checked').parent().parent().remove();


                    } else {

                        alert('删除失败！');
                    }
                }
            });
        });
        // 活塞批量删除的点击事件
        $('#batchDel3').click(function () {

            var str = "";
            $('#messages tbody :checked').each(function () {

                str += this.value + ",";
            });

            str = str.substr(0, str.length - 1);
            console.log(str);

            $.post({

                url: "api/deleteContent.php",
                data: {
                    ids: str
                },
                dataType: "json",
                success: function (obj) {

                    if (obj.code == 0) {

                        location.reload();
                        // $('tbody :checked').parent().parent().remove();


                    } else {

                        alert('删除失败！');
                    }
                }
            });
        });
    })
</script>